[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglossary = "*"
mdict-utils = "*"
gtts = "*"
pyglet = "*"
beautifulsoup4 = "*"
lxml = "*"
tqdm = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg2-binary = "*"
aiosqlite = "*"
pydantic-settings = "*"
asyncpg = "*"
aiohttp = "*"
aiofiles = "*"
pillow = "*"

[dev-packages]
black = {extras = ["d"], version = "*"}

[requires]
python_version = "3.12"
