[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg2-binary = "*"
aiosqlite = "*"
pydantic-settings = "*"
asyncpg = "*"
aiohttp = "*"
aiofiles = "*"
pillow = "*"
python-multipart = "*"
pydub = "*"
google-auth = {extras = ["pyopenssl"], version = "*"}
firebase-admin = "*"
python-jose = {extras = ["cryptography"], version = "*"}
logtail-python = "*"

[dev-packages]
black = {extras = ["d"], version = "*"}
pyglet = "*"
pyglossary = "*"
mdict-utils = "*"
beautifulsoup4 = "*"
lxml = "*"
tqdm = "*"
opencc-python-reimplemented = "*"

[requires]
python_version = "3.12"
