-i https://pypi.org/simple
aiofiles==24.1.0; python_version >= '3.8'
aiohttp==3.12.15; python_version >= '3.9'
aiosqlite==0.21.0; python_version >= '3.9'
asyncpg==0.30.0; python_full_version >= '3.8.0'
fastapi==0.116.1; python_version >= '3.8'
firebase-admin==7.1.0; python_version >= '3.9'
google-auth[pyopenssl]==2.40.3; python_version >= '3.7'
gtts==2.5.4; python_version >= '3.7'
logtail-python==0.3.3
pillow==11.3.0; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
pydantic-settings==2.10.1; python_version >= '3.9'
pydub==0.25.1
python-jose[cryptography]==3.5.0; python_version >= '3.9'
python-multipart==0.0.20; python_version >= '3.8'
scalar-fastapi==1.2.3
sqlalchemy[asyncio]==2.0.42; python_version >= '3.7'
uvicorn[standard]==0.35.0; python_version >= '3.9'
